{
  "mcpServers": {
    "wordpress": {
      "command": "npx",
      "args": ["-y", "@instawp/mcp-wp"],
      "env": {
        "WORDPRESS_API_URL": "https://wp-url",
        "WORDPRESS_USERNAME": "username",
        "WORDPRESS_PASSWORD": "Application Password"
      }
    }
  }
}